<table>
  <col width="20%">
  <col width="60%">
  <col width="20%">
  <tr>
    <td>
    </td>
    <td style="font-size: 30px">
      <%= form_tag  log_in_path, method: "post" do %>
      <table width=100% >
        <col width="40%">
        <col width="60%">
        <tr>
          <td >
            Enter email address
          </td>
          <td>
            <%= text_field_tag :email, "", {:autofocus => true, :autocomplete=> "email", :class =>"small_button", :style => "width: 200px; text-align: left; padding-left: 5px" } %>
          </td>
        </tr>
        <tr>
          <td >
            Enter password
          </td>
          <td>
            <%= password_field_tag :password, "", {:autofocus => true, :autocomplete=> "new-password", :class =>"small_button", :style => "width: 200px; text-align: left; padding-left: 5px"  } %>
          </td>
        </tr>

      </table>
      <%= submit_tag "Log in",  :class =>"small_button", :style =>"width: 160px; margin-top:20px; background: lightyellow;" %>
      <% end %>

    </td>
    <td>
    </td>
  </tr>
</table>
